**Pandas**

***What is Pandas and why use it***



*   Open source python library
*   mostly for data manipulation
*   CSV, excel, SQL....
*   Mainly 2 data structures

1.   Series
2.   Data Frame



1.   Data Cleansing
2.   Data exploration
3.   Data Integration
4.   Data Transformation
5.   Data Analysis
6.   Data Visulization

**Series**

In [ ]:
import pandas as pd

#Create a series from a list of integers

data=pd.Series(['a','b','c','d','e'])

print(data)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
data = pd.Series([10,20,30,40,50,60], index=['a','b','c','d','e','f'])
print(data)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [ ]:
#data = pd.Series([10,20,30,40,50,60], index=['a','b','c','d','e','f'])

data={'a':10,'b':20,'c':30}
series=pd.Series(data)
print(series)

a    10
b    20
c    30
dtype: int64

In [ ]:
print(series['b'])
print(series[2])

20
30

In [ ]:
series1=pd.Series([1,2,3,4])
series2=pd.Series([10,20,30,40])

result= series1 * series2
print(result)

0     10
1     40
2     90
3    160
dtype: int64

**Data Frames**

In [ ]:
data= {
    'Name':["Alice","Alex","Bob"],
    "Age":[25,35,40],
    'City':["Los Ageles",'Dublin','Spain']
}

df=pd.DataFrame(data)

print(df)

    Name  Age        City
0  Alice   25  Los Ageles
1   Alex   35      Dublin
2    Bob   40       Spain

In [ ]:
#Access a specific column

names= df["Name"]

print(names)

#Access a specific row

row = df.loc[2]
print(row)

0    Alice
1     Alex
2      Bob
Name: Name, dtype: object
Name      Bob
Age        40
City    Spain
Name: 2, dtype: object

In [ ]:
#Filter data

adults= df[df['Age']>=30]

print(adults)

   Name  Age    City
1  Alex   35  Dublin
2   Bob   40   Spain

In [ ]:
#Add a new column


df['Salary']=[5000,4000,6000]
print(df)

    Name  Age        City  Salary
0  Alice   25  Los Ageles    5000
1   Alex   35      Dublin    4000
2    Bob   40       Spain    6000

**Loading Data**

CSV, Excel, DB like SQL....

Loading Data from a CSV File

In [ ]:
import pandas as pd

file_path="employees.csv"

df=pd.read_csv(file_path)

#display the loaded data

print(df.head())

   EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0          198     Donald   OConnell  DOCONNEL  650.507.9833  21-Jun-07
1          199    Douglas      Grant    DGRANT  650.507.9844  13-Jan-08
2          200   Jennifer     Whalen   JWHALEN  515.123.4444  17-Sep-03
3          201    Michael  Hartstein  MHARTSTE  515.123.5555  17-Feb-04
4          202        Pat        Fay      PFAY  603.123.6666  17-Aug-05

     JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0  SH_CLERK    2600             -         124             50
1  SH_CLERK    2600             -         124             50
2   AD_ASST    4400             -         101             10
3    MK_MAN   13000             -         100             20
4    MK_REP    6000             -         201             20

In [ ]:
#Loading without headers

import pandas as pd

file_path="employees v2.csv"

df2=pd.read_csv(file_path, header=None, names=['EMPLOYEE_ID','FIRST_NAME','LAST_NAME', 'EMAIL','PHONE_NUMBER','HIRE_DATE','JOB_ID','SALARY', 'COMMISSION_PCT', 'MANAGER_ID'  ,'DEPARTMENT_ID' ])

#display the loaded data

print(df2.head())

   EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0          198     Donald   OConnell  DOCONNEL  650.507.9833  21-Jun-07
1          199    Douglas      Grant    DGRANT  650.507.9844  13-Jan-08
2          200   Jennifer     Whalen   JWHALEN  515.123.4444  17-Sep-03
3          201    Michael  Hartstein  MHARTSTE  515.123.5555  17-Feb-04
4          202        Pat        Fay      PFAY  603.123.6666  17-Aug-05

     JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
0  SH_CLERK    2600             -         124             50
1  SH_CLERK    2600             -         124             50
2   AD_ASST    4400             -         101             10
3    MK_MAN   13000             -         100             20
4    MK_REP    6000             -         201             20

Extracting Columns

In [ ]:
id= df2['EMPLOYEE_ID']

print(id)

0     198
1     199
2     200
3     201
4     202
5     203
6     204
7     205
8     206
9     100
10    101
11    102
12    103
13    104
14    105
15    106
16    107
17    108
18    109
19    110
20    111
21    112
22    113
23    114
24    115
25    116
26    117
27    118
28    119
29    120
30    121
31    122
32    123
33    124
34    125
35    126
36    127
37    128
38    129
39    130
40    131
41    132
42    133
43    134
44    135
45    136
46    137
47    138
48    139
49    140
Name: EMPLOYEE_ID, dtype: int64

In [ ]:
df2.columns

Index(['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME', 'EMAIL', 'PHONE_NUMBER',
       'HIRE_DATE', 'JOB_ID', 'SALARY', 'COMMISSION_PCT', 'MANAGER_ID',
       'DEPARTMENT_ID'],
      dtype='object')

In [ ]:
name_id_col=['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME']

result_df=df2[name_id_col]
print(result_df)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME
0           198       Donald     OConnell
1           199      Douglas        Grant
2           200     Jennifer       Whalen
3           201      Michael    Hartstein
4           202          Pat          Fay
5           203        Susan       Mavris
6           204      Hermann         Baer
7           205      Shelley      Higgins
8           206      William        Gietz
9           100       Steven         King
10          101        Neena      Kochhar
11          102          Lex      De Haan
12          103    Alexander       Hunold
13          104        Bruce        Ernst
14          105        David       Austin
15          106        Valli    Pataballa
16          107        Diana      Lorentz
17          108        Nancy    Greenberg
18          109       Daniel       Faviet
19          110         John         Chen
20          111       Ismael      Sciarra
21          112  Jose Manuel        Urman
22          113         Luis         Popp
23          114          Den     Raphaely
24          115    Alexander         Khoo
25          116       Shelli        Baida
26          117        Sigal       Tobias
27          118          Guy       Himuro
28          119        Karen   Colmenares
29          120      Matthew        Weiss
30          121         Adam        Fripp
31          122        Payam     Kaufling
32          123       Shanta      Vollman
33          124        Kevin      Mourgos
34          125        Julia        Nayer
35          126        Irene  Mikkilineni
36          127        James       Landry
37          128       Steven       Markle
38          129        Laura       Bissot
39          130        Mozhe     Atkinson
40          131        James       Marlow
41          132           TJ        Olson
42          133        Jason       Mallin
43          134      Michael       Rogers
44          135           Ki          Gee
45          136        Hazel   Philtanker
46          137       Renske       Ladwig
47          138      Stephen       Stiles
48          139         John          Seo
49          140       Joshua        Patel

Extracting Rows

In [ ]:
row_df=df2.loc[1]

print(row_df)

EMPLOYEE_ID                199
FIRST_NAME             Douglas
LAST_NAME                Grant
EMAIL                   DGRANT
PHONE_NUMBER      650.507.9844
HIRE_DATE            13-Jan-08
JOB_ID                SH_CLERK
SALARY                    2600
COMMISSION_PCT              -
MANAGER_ID                 124
DEPARTMENT_ID               50
Name: 1, dtype: object

Extract multiple rows

In [ ]:
row_1_and_3 = df2.loc[[1,3]]

print(row_1_and_3)

   EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
1          199    Douglas      Grant    DGRANT  650.507.9844  13-Jan-08
3          201    Michael  Hartstein  MHARTSTE  515.123.5555  17-Feb-04

     JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
1  SH_CLERK    2600             -         124             50
3    MK_MAN   13000             -         100             20

Filtering Data

In [ ]:
#Filter data where salary is greater than 6000


salary_abv =df2[df2['SALARY']>10000]

print(salary_abv)

    EMPLOYEE_ID FIRST_NAME  LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
3           201    Michael  Hartstein  MHARTSTE  515.123.5555  17-Feb-04
7           205    Shelley    Higgins  SHIGGINS  515.123.8080   7-Jun-02
9           100     Steven       King     SKING  515.123.4567  17-Jun-03
10          101      Neena    Kochhar  NKOCHHAR  515.123.4568  21-Sep-05
11          102        Lex    De Haan   LDEHAAN  515.123.4569  13-Jan-01
17          108      Nancy  Greenberg  NGREENBE  515.124.4569  17-Aug-02
23          114        Den   Raphaely  DRAPHEAL  515.127.4561   7-Dec-02

     JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
3    MK_MAN   13000             -         100             20
7    AC_MGR   12008             -         101            110
9   AD_PRES   24000             -          -              90
10    AD_VP   17000             -         100             90
11    AD_VP   17000             -         100             90
17   FI_MGR   12008             -         101            100
23   PU_MAN   11000             -         100             30

Descriptive Statistics

In [ ]:
mean_sal =df2['SALARY'].mean()


mean_man_id = df2['DEPARTMENT_ID'].median()
print(f"Mean Salary:{mean_sal}, Median Manager id:{mean_man_id}")

Mean Salary:6182.32, Median Manager id:50.0

In [ ]:
df.dtypes

EMPLOYEE_ID        int64
FIRST_NAME        object
LAST_NAME         object
EMAIL             object
PHONE_NUMBER      object
HIRE_DATE         object
JOB_ID            object
SALARY             int64
COMMISSION_PCT    object
MANAGER_ID        object
DEPARTMENT_ID      int64
dtype: object

Sorting Data

In [ ]:
sorted_df = df2.sort_values(by='FIRST_NAME')

print(sorted_df)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
30          121         Adam        Fripp    AFRIPP  650.123.2234  10-Apr-05
24          115    Alexander         Khoo     AKHOO  515.127.4562  18-May-03
12          103    Alexander       Hunold   AHUNOLD  590.423.4567   3-Jan-06
13          104        Bruce        Ernst    BERNST  590.423.4568  21-May-07
18          109       Daniel       Faviet   DFAVIET  515.124.4169  16-Aug-02
14          105        David       Austin   DAUSTIN  590.423.4569  25-Jun-05
23          114          Den     Raphaely  DRAPHEAL  515.127.4561   7-Dec-02
16          107        Diana      Lorentz  DLORENTZ  590.423.5567   7-Feb-07
0           198       Donald     OConnell  DOCONNEL  650.507.9833  21-Jun-07
1           199      Douglas        Grant    DGRANT  650.507.9844  13-Jan-08
27          118          Guy       Himuro   GHIMURO  515.127.4565  15-Nov-06
45          136        Hazel   Philtanker  HPHILTAN  650.127.1634   6-Feb-08
6           204      Hermann         Baer     HBAER  515.123.8888   7-Jun-02
35          126        Irene  Mikkilineni  IMIKKILI  650.124.1224  28-Sep-06
20          111       Ismael      Sciarra  ISCIARRA  515.124.4369  30-Sep-05
40          131        James       Marlow   JAMRLOW  650.124.7234  16-Feb-05
36          127        James       Landry   JLANDRY  650.124.1334  14-Jan-07
42          133        Jason       Mallin   JMALLIN  650.127.1934  14-Jun-04
2           200     Jennifer       Whalen   JWHALEN  515.123.4444  17-Sep-03
48          139         John          Seo      JSEO  650.121.2019  12-Feb-06
19          110         John         Chen     JCHEN  515.124.4269  28-Sep-05
21          112  Jose Manuel        Urman   JMURMAN  515.124.4469   7-Mar-06
49          140       Joshua        Patel    JPATEL  650.121.1834   6-Apr-06
34          125        Julia        Nayer    JNAYER  650.124.1214  16-Jul-05
28          119        Karen   Colmenares  KCOLMENA  515.127.4566  10-Aug-07
33          124        Kevin      Mourgos  KMOURGOS  650.123.5234  16-Nov-07
44          135           Ki          Gee      KGEE  650.127.1734  12-Dec-07
38          129        Laura       Bissot   LBISSOT  650.124.5234  20-Aug-05
11          102          Lex      De Haan   LDEHAAN  515.123.4569  13-Jan-01
22          113         Luis         Popp     LPOPP  515.124.4567   7-Dec-07
29          120      Matthew        Weiss    MWEISS  650.123.1234  18-Jul-04
3           201      Michael    Hartstein  MHARTSTE  515.123.5555  17-Feb-04
43          134      Michael       Rogers   MROGERS  650.127.1834  26-Aug-06
39          130        Mozhe     Atkinson  MATKINSO  650.124.6234  30-Oct-05
17          108        Nancy    Greenberg  NGREENBE  515.124.4569  17-Aug-02
10          101        Neena      Kochhar  NKOCHHAR  515.123.4568  21-Sep-05
4           202          Pat          Fay      PFAY  603.123.6666  17-Aug-05
31          122        Payam     Kaufling  PKAUFLIN  650.123.3234   1-May-03
46          137       Renske       Ladwig   RLADWIG  650.121.1234  14-Jul-03
32          123       Shanta      Vollman  SVOLLMAN  650.123.4234  10-Oct-05
7           205      Shelley      Higgins  SHIGGINS  515.123.8080   7-Jun-02
25          116       Shelli        Baida    SBAIDA  515.127.4563  24-Dec-05
26          117        Sigal       Tobias   STOBIAS  515.127.4564  24-Jul-05
47          138      Stephen       Stiles   SSTILES  650.121.2034  26-Oct-05
9           100       Steven         King     SKING  515.123.4567  17-Jun-03
37          128       Steven       Markle   SMARKLE  650.124.1434   8-Mar-08
5           203        Susan       Mavris   SMAVRIS  515.123.7777   7-Jun-02
41          132           TJ        Olson   TJOLSON  650.124.8234  10-Apr-07
15          106        Valli    Pataballa  VPATABAL  590.423.4560   5-Feb-06
8           206      William        Gietz    WGIETZ  515.123.8181   7-Jun-02

        JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID
30      ST_MAN    8200             -         100             50
24    PU_CLERK    3100             -         114             30
12     IT_PROG    9000             -         102             60
13     IT_PROG    6000             -         103             60
18  FI_ACCOUNT    9000             -         108            100
14     IT_PROG    4800             -         103             60
23      PU_MAN   11000             -         100             30
16     IT_PROG    4200             -         103             60
0     SH_CLERK    2600             -         124             50
1     SH_CLERK    2600             -         124             50
27    PU_CLERK    2600             -         114             30
45    ST_CLERK    2200             -         122             50
6       PR_REP   10000             -         101             70
35    ST_CLERK    2700             -         120             50
20  FI_ACCOUNT    7700             -         108            100
40    ST_CLERK    2500             -         121             50
36    ST_CLERK    2400             -         120             50
42    ST_CLERK    3300             -         122             50
2      AD_ASST    4400             -         101             10
48    ST_CLERK    2700             -         123             50
19  FI_ACCOUNT    8200             -         108            100
21  FI_ACCOUNT    7800             -         108            100
49    ST_CLERK    2500             -         123             50
34    ST_CLERK    3200             -         120             50
28    PU_CLERK    2500             -         114             30
33      ST_MAN    5800             -         100             50
44    ST_CLERK    2400             -         122             50
38    ST_CLERK    3300             -         121             50
11       AD_VP   17000             -         100             90
22  FI_ACCOUNT    6900             -         108            100
29      ST_MAN    8000             -         100             50
3       MK_MAN   13000             -         100             20
43    ST_CLERK    2900             -         122             50
39    ST_CLERK    2800             -         121             50
17      FI_MGR   12008             -         101            100
10       AD_VP   17000             -         100             90
4       MK_REP    6000             -         201             20
31      ST_MAN    7900             -         100             50
46    ST_CLERK    3600             -         123             50
32      ST_MAN    6500             -         100             50
7       AC_MGR   12008             -         101            110
25    PU_CLERK    2900             -         114             30
26    PU_CLERK    2800             -         114             30
47    ST_CLERK    3200             -         123             50
9      AD_PRES   24000             -          -              90
37    ST_CLERK    2200             -         120             50
5       HR_REP    6500             -         101             40
41    ST_CLERK    2100             -         121             50
15     IT_PROG    4800             -         103             60
8   AC_ACCOUNT    8300             -         205            110

Grouping and Aggregation

In [ ]:
#group data by dept id and salary


grouped_df = df2.groupby('DEPARTMENT_ID')['SALARY'].mean()

print(grouped_df)

DEPARTMENT_ID
10      4400.000000
20      9500.000000
30      4150.000000
40      6500.000000
50      3721.739130
60      5760.000000
70     10000.000000
90     19333.333333
100     8601.333333
110    10154.000000
Name: SALARY, dtype: float64

Adding or Deleting Columns

In [ ]:
df2['SALARY Higher'] =df2['SALARY']>10000

print(df2)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0           198       Donald     OConnell  DOCONNEL  650.507.9833  21-Jun-07
1           199      Douglas        Grant    DGRANT  650.507.9844  13-Jan-08
2           200     Jennifer       Whalen   JWHALEN  515.123.4444  17-Sep-03
3           201      Michael    Hartstein  MHARTSTE  515.123.5555  17-Feb-04
4           202          Pat          Fay      PFAY  603.123.6666  17-Aug-05
5           203        Susan       Mavris   SMAVRIS  515.123.7777   7-Jun-02
6           204      Hermann         Baer     HBAER  515.123.8888   7-Jun-02
7           205      Shelley      Higgins  SHIGGINS  515.123.8080   7-Jun-02
8           206      William        Gietz    WGIETZ  515.123.8181   7-Jun-02
9           100       Steven         King     SKING  515.123.4567  17-Jun-03
10          101        Neena      Kochhar  NKOCHHAR  515.123.4568  21-Sep-05
11          102          Lex      De Haan   LDEHAAN  515.123.4569  13-Jan-01
12          103    Alexander       Hunold   AHUNOLD  590.423.4567   3-Jan-06
13          104        Bruce        Ernst    BERNST  590.423.4568  21-May-07
14          105        David       Austin   DAUSTIN  590.423.4569  25-Jun-05
15          106        Valli    Pataballa  VPATABAL  590.423.4560   5-Feb-06
16          107        Diana      Lorentz  DLORENTZ  590.423.5567   7-Feb-07
17          108        Nancy    Greenberg  NGREENBE  515.124.4569  17-Aug-02
18          109       Daniel       Faviet   DFAVIET  515.124.4169  16-Aug-02
19          110         John         Chen     JCHEN  515.124.4269  28-Sep-05
20          111       Ismael      Sciarra  ISCIARRA  515.124.4369  30-Sep-05
21          112  Jose Manuel        Urman   JMURMAN  515.124.4469   7-Mar-06
22          113         Luis         Popp     LPOPP  515.124.4567   7-Dec-07
23          114          Den     Raphaely  DRAPHEAL  515.127.4561   7-Dec-02
24          115    Alexander         Khoo     AKHOO  515.127.4562  18-May-03
25          116       Shelli        Baida    SBAIDA  515.127.4563  24-Dec-05
26          117        Sigal       Tobias   STOBIAS  515.127.4564  24-Jul-05
27          118          Guy       Himuro   GHIMURO  515.127.4565  15-Nov-06
28          119        Karen   Colmenares  KCOLMENA  515.127.4566  10-Aug-07
29          120      Matthew        Weiss    MWEISS  650.123.1234  18-Jul-04
30          121         Adam        Fripp    AFRIPP  650.123.2234  10-Apr-05
31          122        Payam     Kaufling  PKAUFLIN  650.123.3234   1-May-03
32          123       Shanta      Vollman  SVOLLMAN  650.123.4234  10-Oct-05
33          124        Kevin      Mourgos  KMOURGOS  650.123.5234  16-Nov-07
34          125        Julia        Nayer    JNAYER  650.124.1214  16-Jul-05
35          126        Irene  Mikkilineni  IMIKKILI  650.124.1224  28-Sep-06
36          127        James       Landry   JLANDRY  650.124.1334  14-Jan-07
37          128       Steven       Markle   SMARKLE  650.124.1434   8-Mar-08
38          129        Laura       Bissot   LBISSOT  650.124.5234  20-Aug-05
39          130        Mozhe     Atkinson  MATKINSO  650.124.6234  30-Oct-05
40          131        James       Marlow   JAMRLOW  650.124.7234  16-Feb-05
41          132           TJ        Olson   TJOLSON  650.124.8234  10-Apr-07
42          133        Jason       Mallin   JMALLIN  650.127.1934  14-Jun-04
43          134      Michael       Rogers   MROGERS  650.127.1834  26-Aug-06
44          135           Ki          Gee      KGEE  650.127.1734  12-Dec-07
45          136        Hazel   Philtanker  HPHILTAN  650.127.1634   6-Feb-08
46          137       Renske       Ladwig   RLADWIG  650.121.1234  14-Jul-03
47          138      Stephen       Stiles   SSTILES  650.121.2034  26-Oct-05
48          139         John          Seo      JSEO  650.121.2019  12-Feb-06
49          140       Joshua        Patel    JPATEL  650.121.1834   6-Apr-06

        JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID  SALARY Higher
0     SH_CLERK    2600             -         124             50          False
1     SH_CLERK    2600             -         124             50          False
2      AD_ASST    4400             -         101             10          False
3       MK_MAN   13000             -         100             20           True
4       MK_REP    6000             -         201             20          False
5       HR_REP    6500             -         101             40          False
6       PR_REP   10000             -         101             70          False
7       AC_MGR   12008             -         101            110           True
8   AC_ACCOUNT    8300             -         205            110          False
9      AD_PRES   24000             -          -              90           True
10       AD_VP   17000             -         100             90           True
11       AD_VP   17000             -         100             90           True
12     IT_PROG    9000             -         102             60          False
13     IT_PROG    6000             -         103             60          False
14     IT_PROG    4800             -         103             60          False
15     IT_PROG    4800             -         103             60          False
16     IT_PROG    4200             -         103             60          False
17      FI_MGR   12008             -         101            100           True
18  FI_ACCOUNT    9000             -         108            100          False
19  FI_ACCOUNT    8200             -         108            100          False
20  FI_ACCOUNT    7700             -         108            100          False
21  FI_ACCOUNT    7800             -         108            100          False
22  FI_ACCOUNT    6900             -         108            100          False
23      PU_MAN   11000             -         100             30           True
24    PU_CLERK    3100             -         114             30          False
25    PU_CLERK    2900             -         114             30          False
26    PU_CLERK    2800             -         114             30          False
27    PU_CLERK    2600             -         114             30          False
28    PU_CLERK    2500             -         114             30          False
29      ST_MAN    8000             -         100             50          False
30      ST_MAN    8200             -         100             50          False
31      ST_MAN    7900             -         100             50          False
32      ST_MAN    6500             -         100             50          False
33      ST_MAN    5800             -         100             50          False
34    ST_CLERK    3200             -         120             50          False
35    ST_CLERK    2700             -         120             50          False
36    ST_CLERK    2400             -         120             50          False
37    ST_CLERK    2200             -         120             50          False
38    ST_CLERK    3300             -         121             50          False
39    ST_CLERK    2800             -         121             50          False
40    ST_CLERK    2500             -         121             50          False
41    ST_CLERK    2100             -         121             50          False
42    ST_CLERK    3300             -         122             50          False
43    ST_CLERK    2900             -         122             50          False
44    ST_CLERK    2400             -         122             50          False
45    ST_CLERK    2200             -         122             50          False
46    ST_CLERK    3600             -         123             50          False
47    ST_CLERK    3200             -         123             50          False
48    ST_CLERK    2700             -         123             50          False
49    ST_CLERK    2500             -         123             50          False

Handling Missing Data

In [ ]:
df2.loc[1,'MANAGER_ID']= None

print(df2.isnull())

    EMPLOYEE_ID  FIRST_NAME  LAST_NAME  EMAIL  PHONE_NUMBER  HIRE_DATE  \
0         False       False      False  False         False      False
1         False       False      False  False         False      False
2         False       False      False  False         False      False
3         False       False      False  False         False      False
4         False       False      False  False         False      False
5         False       False      False  False         False      False
6         False       False      False  False         False      False
7         False       False      False  False         False      False
8         False       False      False  False         False      False
9         False       False      False  False         False      False
10        False       False      False  False         False      False
11        False       False      False  False         False      False
12        False       False      False  False         False      False
13        False       False      False  False         False      False
14        False       False      False  False         False      False
15        False       False      False  False         False      False
16        False       False      False  False         False      False
17        False       False      False  False         False      False
18        False       False      False  False         False      False
19        False       False      False  False         False      False
20        False       False      False  False         False      False
21        False       False      False  False         False      False
22        False       False      False  False         False      False
23        False       False      False  False         False      False
24        False       False      False  False         False      False
25        False       False      False  False         False      False
26        False       False      False  False         False      False
27        False       False      False  False         False      False
28        False       False      False  False         False      False
29        False       False      False  False         False      False
30        False       False      False  False         False      False
31        False       False      False  False         False      False
32        False       False      False  False         False      False
33        False       False      False  False         False      False
34        False       False      False  False         False      False
35        False       False      False  False         False      False
36        False       False      False  False         False      False
37        False       False      False  False         False      False
38        False       False      False  False         False      False
39        False       False      False  False         False      False
40        False       False      False  False         False      False
41        False       False      False  False         False      False
42        False       False      False  False         False      False
43        False       False      False  False         False      False
44        False       False      False  False         False      False
45        False       False      False  False         False      False
46        False       False      False  False         False      False
47        False       False      False  False         False      False
48        False       False      False  False         False      False
49        False       False      False  False         False      False

    JOB_ID  SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID  SALARY Higher
0    False   False           False       False          False          False
1    False   False           False        True          False          False
2    False   False           False       False          False          False
3    False   False           False       False          False          False
4    False   False           False       False          False          False
5    False   False           False       False          False          False
6    False   False           False       False          False          False
7    False   False           False       False          False          False
8    False   False           False       False          False          False
9    False   False           False       False          False          False
10   False   False           False       False          False          False
11   False   False           False       False          False          False
12   False   False           False       False          False          False
13   False   False           False       False          False          False
14   False   False           False       False          False          False
15   False   False           False       False          False          False
16   False   False           False       False          False          False
17   False   False           False       False          False          False
18   False   False           False       False          False          False
19   False   False           False       False          False          False
20   False   False           False       False          False          False
21   False   False           False       False          False          False
22   False   False           False       False          False          False
23   False   False           False       False          False          False
24   False   False           False       False          False          False
25   False   False           False       False          False          False
26   False   False           False       False          False          False
27   False   False           False       False          False          False
28   False   False           False       False          False          False
29   False   False           False       False          False          False
30   False   False           False       False          False          False
31   False   False           False       False          False          False
32   False   False           False       False          False          False
33   False   False           False       False          False          False
34   False   False           False       False          False          False
35   False   False           False       False          False          False
36   False   False           False       False          False          False
37   False   False           False       False          False          False
38   False   False           False       False          False          False
39   False   False           False       False          False          False
40   False   False           False       False          False          False
41   False   False           False       False          False          False
42   False   False           False       False          False          False
43   False   False           False       False          False          False
44   False   False           False       False          False          False
45   False   False           False       False          False          False
46   False   False           False       False          False          False
47   False   False           False       False          False          False
48   False   False           False       False          False          False
49   False   False           False       False          False          False

Applying Functions

In [ ]:
#Define a function on salary category

def sal_cat(sal):
  if sal<6000:
    return "Beginner"
  elif sal < 10000:
    return "Intermediate"
  else:
    return 'Expert'

df2['Salary Category'] =df2['SALARY'].apply(sal_cat)

print(df2)

    EMPLOYEE_ID   FIRST_NAME    LAST_NAME     EMAIL  PHONE_NUMBER  HIRE_DATE  \
0           198       Donald     OConnell  DOCONNEL  650.507.9833  21-Jun-07
1           199      Douglas        Grant    DGRANT  650.507.9844  13-Jan-08
2           200     Jennifer       Whalen   JWHALEN  515.123.4444  17-Sep-03
3           201      Michael    Hartstein  MHARTSTE  515.123.5555  17-Feb-04
4           202          Pat          Fay      PFAY  603.123.6666  17-Aug-05
5           203        Susan       Mavris   SMAVRIS  515.123.7777   7-Jun-02
6           204      Hermann         Baer     HBAER  515.123.8888   7-Jun-02
7           205      Shelley      Higgins  SHIGGINS  515.123.8080   7-Jun-02
8           206      William        Gietz    WGIETZ  515.123.8181   7-Jun-02
9           100       Steven         King     SKING  515.123.4567  17-Jun-03
10          101        Neena      Kochhar  NKOCHHAR  515.123.4568  21-Sep-05
11          102          Lex      De Haan   LDEHAAN  515.123.4569  13-Jan-01
12          103    Alexander       Hunold   AHUNOLD  590.423.4567   3-Jan-06
13          104        Bruce        Ernst    BERNST  590.423.4568  21-May-07
14          105        David       Austin   DAUSTIN  590.423.4569  25-Jun-05
15          106        Valli    Pataballa  VPATABAL  590.423.4560   5-Feb-06
16          107        Diana      Lorentz  DLORENTZ  590.423.5567   7-Feb-07
17          108        Nancy    Greenberg  NGREENBE  515.124.4569  17-Aug-02
18          109       Daniel       Faviet   DFAVIET  515.124.4169  16-Aug-02
19          110         John         Chen     JCHEN  515.124.4269  28-Sep-05
20          111       Ismael      Sciarra  ISCIARRA  515.124.4369  30-Sep-05
21          112  Jose Manuel        Urman   JMURMAN  515.124.4469   7-Mar-06
22          113         Luis         Popp     LPOPP  515.124.4567   7-Dec-07
23          114          Den     Raphaely  DRAPHEAL  515.127.4561   7-Dec-02
24          115    Alexander         Khoo     AKHOO  515.127.4562  18-May-03
25          116       Shelli        Baida    SBAIDA  515.127.4563  24-Dec-05
26          117        Sigal       Tobias   STOBIAS  515.127.4564  24-Jul-05
27          118          Guy       Himuro   GHIMURO  515.127.4565  15-Nov-06
28          119        Karen   Colmenares  KCOLMENA  515.127.4566  10-Aug-07
29          120      Matthew        Weiss    MWEISS  650.123.1234  18-Jul-04
30          121         Adam        Fripp    AFRIPP  650.123.2234  10-Apr-05
31          122        Payam     Kaufling  PKAUFLIN  650.123.3234   1-May-03
32          123       Shanta      Vollman  SVOLLMAN  650.123.4234  10-Oct-05
33          124        Kevin      Mourgos  KMOURGOS  650.123.5234  16-Nov-07
34          125        Julia        Nayer    JNAYER  650.124.1214  16-Jul-05
35          126        Irene  Mikkilineni  IMIKKILI  650.124.1224  28-Sep-06
36          127        James       Landry   JLANDRY  650.124.1334  14-Jan-07
37          128       Steven       Markle   SMARKLE  650.124.1434   8-Mar-08
38          129        Laura       Bissot   LBISSOT  650.124.5234  20-Aug-05
39          130        Mozhe     Atkinson  MATKINSO  650.124.6234  30-Oct-05
40          131        James       Marlow   JAMRLOW  650.124.7234  16-Feb-05
41          132           TJ        Olson   TJOLSON  650.124.8234  10-Apr-07
42          133        Jason       Mallin   JMALLIN  650.127.1934  14-Jun-04
43          134      Michael       Rogers   MROGERS  650.127.1834  26-Aug-06
44          135           Ki          Gee      KGEE  650.127.1734  12-Dec-07
45          136        Hazel   Philtanker  HPHILTAN  650.127.1634   6-Feb-08
46          137       Renske       Ladwig   RLADWIG  650.121.1234  14-Jul-03
47          138      Stephen       Stiles   SSTILES  650.121.2034  26-Oct-05
48          139         John          Seo      JSEO  650.121.2019  12-Feb-06
49          140       Joshua        Patel    JPATEL  650.121.1834   6-Apr-06

        JOB_ID  SALARY COMMISSION_PCT MANAGER_ID  DEPARTMENT_ID  \
0     SH_CLERK    2600             -         124             50
1     SH_CLERK    2600             -        None             50
2      AD_ASST    4400             -         101             10
3       MK_MAN   13000             -         100             20
4       MK_REP    6000             -         201             20
5       HR_REP    6500             -         101             40
6       PR_REP   10000             -         101             70
7       AC_MGR   12008             -         101            110
8   AC_ACCOUNT    8300             -         205            110
9      AD_PRES   24000             -          -              90
10       AD_VP   17000             -         100             90
11       AD_VP   17000             -         100             90
12     IT_PROG    9000             -         102             60
13     IT_PROG    6000             -         103             60
14     IT_PROG    4800             -         103             60
15     IT_PROG    4800             -         103             60
16     IT_PROG    4200             -         103             60
17      FI_MGR   12008             -         101            100
18  FI_ACCOUNT    9000             -         108            100
19  FI_ACCOUNT    8200             -         108            100
20  FI_ACCOUNT    7700             -         108            100
21  FI_ACCOUNT    7800             -         108            100
22  FI_ACCOUNT    6900             -         108            100
23      PU_MAN   11000             -         100             30
24    PU_CLERK    3100             -         114             30
25    PU_CLERK    2900             -         114             30
26    PU_CLERK    2800             -         114             30
27    PU_CLERK    2600             -         114             30
28    PU_CLERK    2500             -         114             30
29      ST_MAN    8000             -         100             50
30      ST_MAN    8200             -         100             50
31      ST_MAN    7900             -         100             50
32      ST_MAN    6500             -         100             50
33      ST_MAN    5800             -         100             50
34    ST_CLERK    3200             -         120             50
35    ST_CLERK    2700             -         120             50
36    ST_CLERK    2400             -         120             50
37    ST_CLERK    2200             -         120             50
38    ST_CLERK    3300             -         121             50
39    ST_CLERK    2800             -         121             50
40    ST_CLERK    2500             -         121             50
41    ST_CLERK    2100             -         121             50
42    ST_CLERK    3300             -         122             50
43    ST_CLERK    2900             -         122             50
44    ST_CLERK    2400             -         122             50
45    ST_CLERK    2200             -         122             50
46    ST_CLERK    3600             -         123             50
47    ST_CLERK    3200             -         123             50
48    ST_CLERK    2700             -         123             50
49    ST_CLERK    2500             -         123             50

    SALARY Higher Salary Category
0           False        Beginner
1           False        Beginner
2           False        Beginner
3            True          Expert
4           False    Intermediate
5           False    Intermediate
6           False          Expert
7            True          Expert
8           False    Intermediate
9            True          Expert
10           True          Expert
11           True          Expert
12          False    Intermediate
13          False    Intermediate
14          False        Beginner
15          False        Beginner
16          False        Beginner
17           True          Expert
18          False    Intermediate
19          False    Intermediate
20          False    Intermediate
21          False    Intermediate
22          False    Intermediate
23           True          Expert
24          False        Beginner
25          False        Beginner
26          False        Beginner
27          False        Beginner
28          False        Beginner
29          False    Intermediate
30          False    Intermediate
31          False    Intermediate
32          False    Intermediate
33          False        Beginner
34          False        Beginner
35          False        Beginner
36          False        Beginner
37          False        Beginner
38          False        Beginner
39          False        Beginner
40          False        Beginner
41          False        Beginner
42          False        Beginner
43          False        Beginner
44          False        Beginner
45          False        Beginner
46          False        Beginner
47          False        Beginner
48          False        Beginner
49          False        Beginner

In [ ]:
df2.to_csv("modified employee.csv", index= False)

Reading Data from Excel File

In [ ]:
import pandas as pd
exl_file_path="Sample Emp Data.xlsx"

df3 = pd.read_excel(exl_file_path)

print(df3.head())

     Name Joining Date        Email Address       Department  Monthly Salary  \
0    Mark   2021-12-31    Mark@demomail.com  Human Resources            5830
1   Brian   2021-12-31   Brian@demomail.com            Sales            3450
2    Alan   2022-01-14    Alan@demomail.com            Legal            4920
3    Tony   2022-01-14    Tony@demomail.com           Retail            2785
4  Agatha   2022-02-01  Agatha@demomail.com            Sales            3450

  Job Status
0  Permanent
1  Permanent
2  Permanent
3  Permanent
4  Permanent

Specifying Columns

In [ ]:
col_read= ['Name','Department','Email Address']

df_sel_col = pd.read_excel(exl_file_path,usecols=col_read)


print(df_sel_col)

        Name          Email Address            Department
0       Mark      Mark@demomail.com       Human Resources
1      Brian     Brian@demomail.com                 Sales
2       Alan      Alan@demomail.com                 Legal
3       Tony      Tony@demomail.com                Retail
4     Agatha    Agatha@demomail.com                 Sales
5       Lana      Lana@demomail.com            Accounting
6    Heather   Heather@demomail.com            Accounting
7        Ben       Ben@demomail.com                 Sales
8    Caitlyn   Caitlyn@demomail.com                Retail
9      Gibbs     Gibbs@demomail.com                Retail
10  Anderson  Anderson@demomail.com                 Sales
11   Michael   Michael@demomail.com                Retail
12     David     David@demomail.com                 Sales
13     Jacob     Jacob@demomail.com               Support
14      John      John@demomail.com  Business Development
15  Leonardo  Leonardo@demomail.com  Business Development
16   Matthew   Matthew@demomail.com       Human Resources
17     Joana     Joana@demomail.com  Business Development
18      Ross      Ross@demomail.com                 Legal
19      Joey      Joey@demomail.com  Business Development
20      Jack      Jack@demomail.com               Support

Skipping Rows

In [ ]:
df_skp_rows = pd.read_excel(exl_file_path, skiprows=7)


print(df_skp_rows)

     Heather 2022-08-04 00:00:00   Heather@demomail.com            Accounting  \
0        Ben          2022-08-04       Ben@demomail.com                 Sales
1    Caitlyn          2022-03-01   Caitlyn@demomail.com                Retail
2      Gibbs          2022-03-01     Gibbs@demomail.com                Retail
3   Anderson          2022-03-01  Anderson@demomail.com                 Sales
4    Michael          2022-03-01   Michael@demomail.com                Retail
5      David          2022-03-15     David@demomail.com                 Sales
6      Jacob          2022-03-15     Jacob@demomail.com               Support
7       John          2022-04-01      John@demomail.com  Business Development
8   Leonardo          2022-04-01  Leonardo@demomail.com  Business Development
9    Matthew          2022-04-17   Matthew@demomail.com       Human Resources
10     Joana          2022-06-01     Joana@demomail.com  Business Development
11      Ross          2022-07-02      Ross@demomail.com                 Legal
12      Joey          2022-07-15      Joey@demomail.com  Business Development
13      Jack          2022-01-03      Jack@demomail.com               Support

    3125 Unnamed: 5
0   3450        NaN
1   2785  Permanent
2   2785  Permanent
3   3450  Permanent
4   2785  Permanent
5   3450        NaN
6   2500        NaN
7   3100        NaN
8   3100        NaN
9   5830        NaN
10  3100        NaN
11  4920        NaN
12  3100        NaN
13  2500  Permanent

Handling Missing Values

In [ ]:
df_missimg_val = pd.read_excel(exl_file_path,na_values=['NA','N/A',"NULL",""])

print(df_missimg_val)

        Name Joining Date          Email Address            Department  \
0       Mark   2021-12-31      Mark@demomail.com       Human Resources
1      Brian   2021-12-31     Brian@demomail.com                 Sales
2       Alan   2022-01-14      Alan@demomail.com                 Legal
3       Tony   2022-01-14      Tony@demomail.com                Retail
4     Agatha   2022-02-01    Agatha@demomail.com                 Sales
5       Lana   2022-02-01      Lana@demomail.com            Accounting
6    Heather   2022-08-04   Heather@demomail.com            Accounting
7        Ben   2022-08-04       Ben@demomail.com                 Sales
8    Caitlyn   2022-03-01   Caitlyn@demomail.com                Retail
9      Gibbs   2022-03-01     Gibbs@demomail.com                Retail
10  Anderson   2022-03-01  Anderson@demomail.com                 Sales
11   Michael   2022-03-01   Michael@demomail.com                Retail
12     David   2022-03-15     David@demomail.com                 Sales
13     Jacob   2022-03-15     Jacob@demomail.com               Support
14      John   2022-04-01      John@demomail.com  Business Development
15  Leonardo   2022-04-01  Leonardo@demomail.com  Business Development
16   Matthew   2022-04-17   Matthew@demomail.com       Human Resources
17     Joana   2022-06-01     Joana@demomail.com  Business Development
18      Ross   2022-07-02      Ross@demomail.com                 Legal
19      Joey   2022-07-15      Joey@demomail.com  Business Development
20      Jack   2022-01-03      Jack@demomail.com               Support

    Monthly Salary Job Status
0             5830  Permanent
1             3450  Permanent
2             4920  Permanent
3             2785  Permanent
4             3450  Permanent
5             3125  Permanent
6             3125        NaN
7             3450        NaN
8             2785  Permanent
9             2785  Permanent
10            3450  Permanent
11            2785  Permanent
12            3450        NaN
13            2500        NaN
14            3100        NaN
15            3100        NaN
16            5830        NaN
17            3100        NaN
18            4920        NaN
19            3100        NaN
20            2500  Permanent

In [ ]:
df3.dtypes

Name                      object
Joining Date      datetime64[ns]
Email Address             object
Department                object
Monthly Salary             int64
Job Status                object
dtype: object

**Data type conversions and manipulations**

In [ ]:
print(df3.dtypes)

Name                      object
Joining Date      datetime64[ns]
Email Address             object
Department                object
Monthly Salary             int64
Job Status                object
dtype: object

In [ ]:
df3['Monthly Salary'] =df3['Monthly Salary'].astype(float)
print(df3.dtypes)

Name                      object
Joining Date      datetime64[ns]
Email Address             object
Department                object
Monthly Salary           float64
Job Status                object
dtype: object

String Manipulation

In [ ]:
df3['Name'] = df3['Name'].str.upper()

print(df3['Name'])

0         MARK
1        BRIAN
2         ALAN
3         TONY
4       AGATHA
5         LANA
6      HEATHER
7          BEN
8      CAITLYN
9        GIBBS
10    ANDERSON
11     MICHAEL
12       DAVID
13       JACOB
14        JOHN
15    LEONARDO
16     MATTHEW
17       JOANA
18        ROSS
19        JOEY
20        JACK
Name: Name, dtype: object

In [ ]:
#Assume date column is in string format and convert it to a datetime

df3['Joining Date']=pd.to_datetime(df3['Joining Date'])

df3['Year'] =df3['Joining Date'].dt.year


df3['Year']

0     2021
1     2021
2     2022
3     2022
4     2022
5     2022
6     2022
7     2022
8     2022
9     2022
10    2022
11    2022
12    2022
13    2022
14    2022
15    2022
16    2022
17    2022
18    2022
19    2022
20    2022
Name: Year, dtype: int64

In [ ]:
#Numerical Operations

df3['Year'] =df3['Year']*3


df3['Year']

0     6063
1     6063
2     6066
3     6066
4     6066
5     6066
6     6066
7     6066
8     6066
9     6066
10    6066
11    6066
12    6066
13    6066
14    6066
15    6066
16    6066
17    6066
18    6066
19    6066
20    6066
Name: Year, dtype: int64

In [ ]:
#Custom Functions


def sal_cat(sal):
  if sal<6000:
    return "Beginner"
  elif sal < 10000:
    return "Intermediate"
  else:
    return 'Expert'

df3['Salary Category'] =df3['Monthly Salary'].apply(sal_cat)

print(df3)

        Name Joining Date          Email Address            Department  \
0       MARK   2021-12-31      Mark@demomail.com       Human Resources
1      BRIAN   2021-12-31     Brian@demomail.com                 Sales
2       ALAN   2022-01-14      Alan@demomail.com                 Legal
3       TONY   2022-01-14      Tony@demomail.com                Retail
4     AGATHA   2022-02-01    Agatha@demomail.com                 Sales
5       LANA   2022-02-01      Lana@demomail.com            Accounting
6    HEATHER   2022-08-04   Heather@demomail.com            Accounting
7        BEN   2022-08-04       Ben@demomail.com                 Sales
8    CAITLYN   2022-03-01   Caitlyn@demomail.com                Retail
9      GIBBS   2022-03-01     Gibbs@demomail.com                Retail
10  ANDERSON   2022-03-01  Anderson@demomail.com                 Sales
11   MICHAEL   2022-03-01   Michael@demomail.com                Retail
12     DAVID   2022-03-15     David@demomail.com                 Sales
13     JACOB   2022-03-15     Jacob@demomail.com               Support
14      JOHN   2022-04-01      John@demomail.com  Business Development
15  LEONARDO   2022-04-01  Leonardo@demomail.com  Business Development
16   MATTHEW   2022-04-17   Matthew@demomail.com       Human Resources
17     JOANA   2022-06-01     Joana@demomail.com  Business Development
18      ROSS   2022-07-02      Ross@demomail.com                 Legal
19      JOEY   2022-07-15      Joey@demomail.com  Business Development
20      JACK   2022-01-03      Jack@demomail.com               Support

    Monthly Salary Job Status  Year Salary Category
0           5830.0  Permanent  6063        Beginner
1           3450.0  Permanent  6063        Beginner
2           4920.0  Permanent  6066        Beginner
3           2785.0  Permanent  6066        Beginner
4           3450.0  Permanent  6066        Beginner
5           3125.0  Permanent  6066        Beginner
6           3125.0        NaN  6066        Beginner
7           3450.0        NaN  6066        Beginner
8           2785.0  Permanent  6066        Beginner
9           2785.0  Permanent  6066        Beginner
10          3450.0  Permanent  6066        Beginner
11          2785.0  Permanent  6066        Beginner
12          3450.0        NaN  6066        Beginner
13          2500.0        NaN  6066        Beginner
14          3100.0        NaN  6066        Beginner
15          3100.0        NaN  6066        Beginner
16          5830.0        NaN  6066        Beginner
17          3100.0        NaN  6066        Beginner
18          4920.0        NaN  6066        Beginner
19          3100.0        NaN  6066        Beginner
20          2500.0  Permanent  6066        Beginner

**Data Analysis and Visualization**

  Descriptive Statitics with Pandas

In [ ]:
df3

,Name,Joining Date,Email Address,Department,Monthly Salary,Job Status
0,Mark,2021-12-31,Mark@demomail.com,Human Resources,5830,Permanent
1,Brian,2021-12-31,Brian@demomail.com,Sales,3450,Permanent
2,Alan,2022-01-14,Alan@demomail.com,Legal,4920,Permanent
3,Tony,2022-01-14,Tony@demomail.com,Retail,2785,Permanent
4,Agatha,2022-02-01,Agatha@demomail.com,Sales,3450,Permanent
5,Lana,2022-02-01,Lana@demomail.com,Accounting,3125,Permanent
6,Heather,2022-08-04,Heather@demomail.com,Accounting,3125,NaN
7,Ben,2022-08-04,Ben@demomail.com,Sales,3450,NaN
8,Caitlyn,2022-03-01,Caitlyn@demomail.com,Retail,2785,Permanent
9,Gibbs,2022-03-01,Gibbs@demomail.com,Retail,2785,Permanent
10,Anderson,2022-03-01,Anderson@demomail.com,Sales,3450,Permanent
11,Michael,2022-03-01,Michael@demomail.com,Retail,2785,Permanent
12,David,2022-03-15,David@demomail.com,Sales,3450,NaN
13,Jacob,2022-03-15,Jacob@demomail.com,Support,2500,NaN
14,John,2022-04-01,John@demomail.com,Business Development,3100,NaN
15,Leonardo,2022-04-01,Leonardo@demomail.com,Business Development,3100,NaN
16,Matthew,2022-04-17,Matthew@demomail.com,Human Resources,5830,NaN
17,Joana,2022-06-01,Joana@demomail.com,Business Development,3100,NaN
18,Ross,2022-07-02,Ross@demomail.com,Legal,4920,NaN
19,Joey,2022-07-15,Joey@demomail.com,Business Development,3100,NaN
20,Jack,2022-01-03,Jack@demomail.com,Support,2500,Permanent

WARNING: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
# Measure to calculate central Tendency


mean_Monthly_Salary =df3['Monthly Salary'].mean()

median_Monthly_Salary =df3['Monthly Salary'].median()

mode_Monthly_Salary =df3['Monthly Salary'].mode().values[0]

print(f"Mean Salary: {mean_Monthly_Salary}, Median Salary: {median_Monthly_Salary}, Mode salary: {mode_Monthly_Salary}")

Mean Salary: 3501.904761904762, Median Salary: 3125.0, Mode salary: 3450

In [ ]:
#Measure of Dispersion


Salary_range =df3['Monthly Salary'].max() - df3['Monthly Salary'].min()
Salary_variance =df3['Monthly Salary'].var()

Salary_std_dev = df3['Monthly Salary'].std()

print(f"Salary Range:{Salary_range}, Variance: {Salary_variance}, Std Deviation: {Salary_std_dev}")

Salary Range:3330, Variance: 993458.6904761905, Std Deviation: 996.7239790815663

In [ ]:
#Count and Frequency

count_sal =df3['Monthly Salary'].count()


dept_freq =df3['Department'].value_counts()

print(f"Number of salary values: {count_sal}")
print(f"Frequency of Dept:\n{dept_freq}")

Number of salary values: 21
Frequency of Dept:
Sales                   5
Retail                  4
Business Development    4
Human Resources         2
Legal                   2
Accounting              2
Support                 2
Name: Department, dtype: int64

In [ ]:
# Summary Stats

sum_stats = df3.describe()

print(sum_stats)

       Monthly Salary
count       21.000000
mean      3501.904762
std        996.723979
min       2500.000000
25%       2785.000000
50%       3125.000000
75%       3450.000000
max       5830.000000

In [ ]:
#grouping Data

grp_df = df3.groupby('Department')

for key, value in grp_df:
  print(key,value)

Accounting       Name Joining Date         Email Address  Department  Monthly Salary  \
5     Lana   2022-02-01     Lana@demomail.com  Accounting            3125
6  Heather   2022-08-04  Heather@demomail.com  Accounting            3125

  Job Status
5  Permanent
6        NaN
Business Development         Name Joining Date          Email Address            Department  \
14      John   2022-04-01      John@demomail.com  Business Development
15  Leonardo   2022-04-01  Leonardo@demomail.com  Business Development
17     Joana   2022-06-01     Joana@demomail.com  Business Development
19      Joey   2022-07-15      Joey@demomail.com  Business Development

    Monthly Salary Job Status
14            3100        NaN
15            3100        NaN
17            3100        NaN
19            3100        NaN
Human Resources        Name Joining Date         Email Address       Department  \
0      Mark   2021-12-31     Mark@demomail.com  Human Resources
16  Matthew   2022-04-17  Matthew@demomail.com  Human Resources

    Monthly Salary Job Status
0             5830  Permanent
16            5830        NaN
Legal     Name Joining Date      Email Address Department  Monthly Salary Job Status
2   Alan   2022-01-14  Alan@demomail.com      Legal            4920  Permanent
18  Ross   2022-07-02  Ross@demomail.com      Legal            4920        NaN
Retail        Name Joining Date         Email Address Department  Monthly Salary  \
3      Tony   2022-01-14     Tony@demomail.com     Retail            2785
8   Caitlyn   2022-03-01  Caitlyn@demomail.com     Retail            2785
9     Gibbs   2022-03-01    Gibbs@demomail.com     Retail            2785
11  Michael   2022-03-01  Michael@demomail.com     Retail            2785

   Job Status
3   Permanent
8   Permanent
9   Permanent
11  Permanent
Sales         Name Joining Date          Email Address Department  Monthly Salary  \
1      Brian   2021-12-31     Brian@demomail.com      Sales            3450
4     Agatha   2022-02-01    Agatha@demomail.com      Sales            3450
7        Ben   2022-08-04       Ben@demomail.com      Sales            3450
10  Anderson   2022-03-01  Anderson@demomail.com      Sales            3450
12     David   2022-03-15     David@demomail.com      Sales            3450

   Job Status
1   Permanent
4   Permanent
7         NaN
10  Permanent
12        NaN
Support      Name Joining Date       Email Address Department  Monthly Salary  \
13  Jacob   2022-03-15  Jacob@demomail.com    Support            2500
20   Jack   2022-01-03   Jack@demomail.com    Support            2500

   Job Status
13        NaN
20  Permanent

In [ ]:
#Aggregation Functions

# Total salary department wise

sal_dept = grp_df['Monthly Salary'].sum()

print(sal_dept)

Department
Accounting               6250
Business Development    12400
Human Resources         11660
Legal                    9840
Retail                  11140
Sales                   17250
Support                  5000
Name: Monthly Salary, dtype: int64

In [ ]:
#Multiple Aggregation Function

agg_fn={
    "Monthly Salary":['sum','mean']
}

res = grp_df.agg(agg_fn)

print(res)

                     Monthly Salary
                                sum    mean
Department
Accounting                     6250  3125.0
Business Development          12400  3100.0
Human Resources               11660  5830.0
Legal                          9840  4920.0
Retail                        11140  2785.0
Sales                         17250  3450.0
Support                        5000  2500.0

In [ ]:
#Custom Aggregation Function


def sal_rang(series):
  return series.max() -series.min()


res_agg = grp_df['Monthly Salary'].agg(sal_rang)
print(res_agg)

Department
Accounting              0
Business Development    0
Human Resources         0
Legal                   0
Retail                  0
Sales                   0
Support                 0
Name: Monthly Salary, dtype: int64

In [ ]:
#Grouping by multiple columns


grp_df_col = df3.groupby(['Department','Job Status'])